doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="bower_components/pure/grids-responsive-min.css")
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="rouvenherzog.css")
	body
		div.aboutme
			div.content
				h1 about me
				div.img-wrapper
					img(src="images/me.jpg")
				p.lead My name is Rouven Herzog

		div.contactme
			div.content
				div
					i.fa.fa-github
					| @rouvenherzog
				div
					i.fa.fa-linkedin-square
					| de.linkedin.com/in/rouvenherzog
				div
						i.fa.fa-envelope
						| contact@rouvenherzog.me

		div.rouvenherzog
			div.content
				h1 rouvenherzog
				p.lead A Simple, Small NodeJs Blogging and Gallery CMS
				div.gallery
					img(src="images/media-screenshot.jpg")
					img(src="images/dashboard-screenshot.jpg")
					img(src="images/blog-screenshot.jpg")
				div
					i.fa.fa-github 
					| View on Github 
					i.fa.fa-chevron-right
					| Try it out

		div.clearfix