doctype html
html(lang="en")
	head
		link(rel="stylesheet", href="bower_components/pure/grids-responsive-min.css")
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="rouvenherzog.css")
	body
		div.left
			div.wrapper.top.rouvenherzog-info
				div.content
					h1 rouvenherzog
					p.lead A Simple, Pluggable NodeJs Blogging and Gallery CMS
					div.gallery
						img(src="images/media-screenshot.jpg")
						img(src="images/dashboard-screenshot.jpg")
						img(src="images/blog-screenshot.jpg")
					div.description
						p.
							Just plug it into your existing Express.js app
							and you'll instantly have a backend available to
							create, update and delete Blog Entries and Images.
						p.
							Just embed those into your website and you are done.

			div.wrapper.bot.rouvenherzog-showme
				div.content
					div
						a(href="http://demo.rouvenherzog.me").btn
							i.fa.fa-chevron-right &nbsp;
							| Try it out
						a(href="https://github.com/rouvenherzog/rouvenherzog").btn
							i.fa.fa-search &nbsp;
							| Get started
					div
						a(href="https://github.com/rouvenherzog/rouvenherzog")
							i.fa.fa-github &nbsp;
							| View on Github

		div.right
			div.border-left
				div.wrapper.top.aboutme
					div.content
						h1 about me
						div.img-wrapper
							img(src="images/me.jpg")

						div.description
							p.lead
								| My name is 
								span.nowrap Rouven Herzog.
							p.
								I'm a Web Developer living in Berlin,
								currently finishing my studies in
								international media and computing with a
								bachelor thesis about retrospectives
								in distributed, agile teams.
							p.
								I'm always trying new approaches to
								solving problems in front- and backend.
								Mainly did I use python, NodeJs and Ruby
								on Rails so far.

				div.wrapper.bot.contactme
					div.content
						div
							a(href="https://github.com/rouvenherzog")
								i.fa.fa-github &nbsp;
								| @rouvenherzog
						div
							a(href="http://de.linkedin.com/in/rouvenherzog")
								i.fa.fa-linkedin-square &nbsp;
								| linkedin
						div
							a(href="mailto:contact@rouvenherzog.me")
								i.fa.fa-envelope &nbsp;
								| contact@rouvenherzog.me

	script(type="text/javascript").
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
		var u="//piwik.rouvenherzog.me/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', 2]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();

	noscript
		p
			img(src="//piwik.rouvenherzog.me/piwik.php?idsite=2", style="border:0;", alt="")
