@import 'colors';

html, body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: sans-serif;
}

body {
	background-color: @darkblue40;
	font-weight: 300;
	line-height: 1.2;

	h1 {
		margin: 0px;
		padding: 20px 0px;
		font-size: 36px;
		color: @blue;
	}

	p {
		letter-spacing: 1px;

		&.lead {
			letter-spacing: 1px;
			font-size: 140%;
		}
	}

	a {
		text-decoration: none;
		color: @lightblue10;

		&:visited,
		&:active {
			color: @lightblue10;
		}

		&:hover {
			color: @lightblue20;
		}

		&.btn {
			text-decoration: none;
			display: inline-block;
			padding: 12px 40px;
			background-color: @darkblue20;
			color: @lightblue40;
			margin-bottom: 15px;

			&:not(:last-child) {
				margin-right: 10px;
			}

			i {
				color: @lightblue40;
			}
		}

		i {
			color: @lightblue20;
		}
	}

	span.nowrap {
		white-space: nowrap;
	}
}