@import 'colors';

html, body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: sans-serif;
}

@media (min-width: 768px) {
	html, body {
		height: 100%;
		overflow: auto;
	}
}

body {
	background-color: @black;
	color: @lightblue;

	h1 {
		margin: 0px;
		padding: 20px 0px;
	}

	.clearfix {
		clear: both;
	}

	@media (min-width: 960px) {
		.aboutme {
			width: 60%;
			margin-left: 40%;
		}

		.contactme {
			float: right;
			width: 60%;
		}

		.rouvenherzog {
			float: left;
			width: 40%;
		}
	}

	@media (min-width: 768px) and (max-width: 960px) {
		.aboutme {
			width: 50%;
			margin-left: 50%;
		}

		.contactme {
			float: right;
			width: 50%;
		}

		.rouvenherzog {
			float: left;
			width: 50%;
		}
	}

	@media (min-width: 768px) and (min-height: 600px) {
		.aboutme,
		.contactme,
		.rouvenherzog {
			position: relative;
			min-height: 50%;

			.content {
				position: absolute;
				top: 50%;
				width: 100%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}

	@media (min-width: 768px) and (max-height: 600px) {
		.contactme {
			.content {
				padding-top: 50px;
			}
		}
	}

	@media (max-width: 768px) {
		.contactme,
		.rouvenherzog {
			padding: 50px 0px;
		}
	}

	.aboutme {
		div.img-wrapper {
			margin: 0px auto 20px;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 200px;
			}
		}

		.lead {
			letter-spacing: 1px;
			font-size: 140%;
		}
	}

	.rouvenherzog {
		.gallery {
			width: 100%;

			img {
				width: 40%;

				&:nth-child(2) {
					position: relative;
					margin: 0px -18%;
					width: 50%;
					box-shadow: 0px 0px 5px #000;
				}
			}
		}
	}

	.contactme {
		i {
			margin-right: 5px;
		}
	}
}